@font-face {
  font-family: Pathway;
  src: url(../../fonts/PathwayGothicOne-Regular.ttf);
}

@font-face {
  font-family: Dorsa;
  src: url(../../fonts/Dorsa-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../../fonts/OpenSans-CondLight.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(../../img/main-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 2rem;
}

.header {
  width: 64rem;
  margin: 0 auto;
  padding: 6.375rem 6.25rem;
  position: relative;
}

.wrapper {
  width: 64rem;
  margin: auto;
  padding: 6.875rem 3.75rem;
  background-color: #fff;
}
