:root {
  --light-brown: #d8bca2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding-top: 2rem;
  background-image: url(../img/main-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  width: 64rem;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.social-list {
  flex-basis: 20%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-brown);
}

.list-link {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../img/social-sprite.png);
  transition: filter 0.5s linear;
}

.twitter {
  background-position: -0.625rem -0.625rem;
}

.facebook {
  background-position: -4.375rem -4.375rem;
}

.google {
  background-position: -8.125rem -8.125rem;
}

.linkedin {
  background-position: -11.875rem -11.875rem;
}

.list-link:hover {
  filter: opacity(0.5);
}
