@font-face {
  font-family: PathWay;
  src: url(../fonts/PathwayGothicOne-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-top: 2rem;
  background-image: url(../img/main-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 64rem;
  margin: auto;
  background-color: #fff;
  padding: 2rem 4rem;
  display: flex;
}

.map-container {
  flex-basis: 80%;
}


/*MAP*/
.map-body {
  display: flex;
  justify-content: space-between;
}

.map {
  width: 60%;
  height: 23rem;
  border: none;
}

/*TABLE*/
.tables-container {
  display: flex;
  flex-direction: column;
  width: 34%;
}

.table {
  color: #808080;
  font-family: Arial, sans-serif;
  margin-bottom: 2rem;
}

.title-table {
  width: 80%;
  text-align: left;
  margin-bottom: 1rem;
}

.table-cell {
  font-size: 0.9rem;
  padding: 0.1rem;
}

.table-cell-link {
  text-decoration: none;
  color: #808080;
  transition: opacity .5s linear;
}

.email-link {
  color: #fa7e7e;
}

.table-cell-link:hover {
  opacity: 0.5;
}

/*FORM*/
.form-container {
  flex-basis: 20%;
}

.title {
  font-family: PathWay;
  font-weight: normal;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #263555;
}

.input-item, .textarea-item {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #fcfafa;
  border: 1px solid #d4d0d0;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}

.textarea-item {
  resize: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 0.5rem 1rem;
  border: 1px solid #d4d0d0;
  background-color: #fcfafa;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 0.5rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  cursor: pointer;
}
