.title__link {
  display: block;
  text-decoration: none;
  color: #000;
  background-color: #ccc;
  padding: 0.3rem;
  border-radius: 5%;
  transition: transform 0.3s linear;
}

.title__link--hover:hover {
  transform: scale(1.2,1.2);
}
