* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(../../img/main-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.5rem;
}

.container-fluid__width {
  max-width: 62rem;
  min-width: 30rem;
  padding: 0;
}
