.footer {
  max-width: 62rem;
  min-width: 30rem;
  font-family: OpenSans;
  padding: 1.5rem 6.5rem;
  background-color: #30455b;
  }

  .footer-row div[class*=col-]:first-child {
    margin-bottom: 1rem;
  }

  .footer-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-list-item {
    flex-basis: 32%;
    margin-right: 2%;
    margin-bottom: 0.5rem;
  }

  .footer-list-item:nth-child(3n+3) {
    margin: 0;
  }

  .footer-list-item:nth-child(n+4) {
    margin-bottom: 0;
  }

  .footer-list-link {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: opacity 0.5s linear;
    font-weight: bold;
  }

  .footer-list-link:hover {
    opacity: .5;
  }

  .contact-block {
    color: #fff;
  }

  .contact-title {
    flex-basis: 32%;
    text-transform: uppercase;
    font-size: 0.875rem;
  }

  .icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0.3rem;
  }

  .contact-telephone {
    flex-basis: 32%;
    display: flex;
    align-items: center;
    font-size: 0.725rem;
    text-transform: uppercase;
  }


  .telephone-icon {
    background-image: url(../../img/gallery-img/images-480/telephone.png);
  }


  .contact-email {
    flex-basis: 32%;
    display: flex;
    align-items: center;
    font-size: 0.725rem;
    text-transform: none;
    }

    .email-icon {
      background-image: url(../../img/gallery-img/images-480/email.png);
    }

@media (max-width: 48rem) {
  .contact-block {
    display: flex;
    align-items: center;
  }

  .contact-title {
    margin-right: 2%;
  }

  .contact-telephone {
    margin-right: 2%;
  }
}

@media (min-width: 48rem) {
  .footer {
    padding: 2.375rem 3.75rem;
  }

  .footer-row .footer-col[class*=col-]:first-child {
    margin-bottom: 0;
  }

  .contact-title {
    font-size: 1.125rem;
    font-weight: bold;
  }

  .contact-telephone {
    font-size: 0.75rem;
    font-weight: bold;
  }

  .contact-email {
    font-size: 0.75rem;
    font-weight: bold;
  }

  .icon {
    display: none;
  }
}

@media (min-width: 62rem) {
  .footer {
    padding: 2.375rem 8.5rem;
  }

  .contact-block {
    flex-direction: column;
    align-items: flex-start;
  }
}
