.container-fluid__width {
  max-width: 62rem;
  min-width: 30rem;
  padding: 0;
}

.gallery-grid div[class*=col-] {
  margin-bottom: 2rem;
}

.gallery-content {
  background-color: #fff;
  margin: 0;
  padding: 3.75rem 2.375rem;
}

.gallery-title {
  font-family: Pathway;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 2.625rem;
}

.gallery-element {
  position: relative;
}

.gallery-grid div[class*=col-]:nth-child(6) {
  margin-bottom: 0;
}

.picture {
  width: 100%;
}

.gallery-img{
  display: block;
  width: 100%;
  height: auto;
}

.zoom-block {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}

.zoom-link {
  color: #fff;
  text-decoration: none;
}

.gallery-element:hover > .zoom-block {
  visibility: visible;
  opacity: 0.5;
}

@media (max-width: 48rem) {
  .gallery-grid div[class*=col-]:nth-child(n+7) {
    display: none;
  }
}

@media (min-width: 48rem) {
  .gallery-content {
    padding: 5.25rem 3rem;
  }

  .gallery-grid div[class*=col-] {
    display: block;
  }

  .gallery-grid div[class*=col-]:nth-child(n+7){
    margin-bottom: 0;
  }
}

@media (max-width: 62rem) {
  .gallery-grid div[class*=col-]:last-child {
    display: none;
  }
}

@media (min-width: 62rem) {
  .gallery-content {
    padding: 6.875rem 3.75rem;
  }

  .gallery-grid div[class*=col-]:nth-child(n+7) {
    margin-bottom: 0;
  }
}
