* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  min-width: 22.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100vh;
}

.picture {
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
