.container-fluid__width {
  max-width: 75rem;
  min-width: 30rem;
}

.content {
  padding: 6rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #FAF180;
}

.sidebar {
  padding: 6rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #B8E986;
}
