@font-face {
  font-family: Pathway;
  src: url(../fonts/PathwayGothicOne-Regular.ttf);
}

@font-face {
  font-family: Dorsa;
  src: url(../fonts/Dorsa-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-CondLight.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background-image: url(../img/main-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  width: 1024px;
  margin: 0 auto;
  padding: 102px 100px;
  position: relative;
}

.content-wrapper {
  width: 1024px;
  margin: 0 auto;
  background-color: #fff;
  padding: 58px 60px;
}

.to-top-button {
  display: block;
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  bottom: 1%;
  right: 23.8%;
  background-image: url(../img/totop.png);
  background-position: center;
  background-repeat: no-repeat;
}
