.destenition-section {
  padding-top: 56px;
}

.destenition-caption {
  font-family: Pathway;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #263555;
  margin-bottom: 48px;
}

.destenition-card {
  width: 30%;
  float: left;
  margin-right: 5%;
  position: relative;
}

.destenition-card:last-child {
  margin-right: 0;
}

.destenition-card:hover > .destenition-info {
  visibility: visible;
  opacity: 1;
}

.destenition-image {
  display: block;
  width: 100%;
}

.destenition-info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #193149;
  color: #fff;
}

.destenition-title {
  font-family: OpenSans;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 18px 18px 0 18px;
  margin-bottom: 18px;
  text-align: center;
}

.destenition-paragraph {
  font-size: 10px;
  padding: 8px;
}

.destenition-link {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #fff;
  font-size: 12px;
  bottom: 10%;
  right: 8%;
}
