/*style for header list*/

.list {
  list-style: none;
  text-align: center;
  font-size: 28px;
}

.list-item {
  float: left;
  width: 12%;
  position: relative;
}

.list-item:nth-child(3) {
  margin-right: 28%;
}

.list-item:last-child {
  margin-right: 0;
}

.list-link {
  font-family: Pathway;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
  transition: 0.5s;
}

.list-link:hover {
  color: #263555;
}

.submenu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  position: absolute;
  list-style: none;
  background-color: #fff;
  padding: 8px;
  border-radius: 6px;
  font-family: Pathway;
  font-size: 20px;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
}

.list .list-item:nth-child(2):hover > .submenu {
  visibility: visible;
  opacity: 1;
}

.submenu::before {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9%;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  z-index: -1;
  background-color: #fff;
}

.submenu-link {
  text-decoration: none;
  color: #9096a4;
}

/*style for logo*/

.logo {
  font-family: 'Dorsa', sans-serif;
  width: 138px;
  height: 138px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
  line-height: 138px;
  font-size: 60px;
  background-color: #fff;
  color: #263555;
}
