.header {
  position: relative;
  padding: 1.5rem 8.75rem;
}

/*style for logo*/

.logo {
  display: block;
  margin: 0 auto 1rem auto;
  font-family: 'Dorsa', sans-serif;
  width: 4.875rem;
  height: 4.875rem;
  text-decoration: none;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
  line-height: 4.875rem;
  font-size: 2rem;
  background-color: #fff;
  color: #263555;
}

/*style for menu*/

.navigation-list {
  list-style: none;
  text-align: center;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
}

.navigation-list__item {
  width: 33%;
  margin-bottom: 0.5rem;
  position: relative;
}

.navigation-list__item:nth-child(n+4) {
  margin-bottom: 0;
}

.navigation-list__link {
  display: block;
  font-family: Pathway;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
  transition: color 0.5s linear;
}

.navigation-list__link--hover:hover {
  color: #263555;
}

.submenu {
  position: absolute;
  list-style: none;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: Pathway;
  font-size: 0.875rem;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  z-index: 2;
}

.navigation-list .navigation-list__item:nth-child(2):hover > .submenu {
  visibility: visible;
  opacity: 1;
}

.submenu::before {
  display: block;
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 9%;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  background-color: #fff;
  z-index: -1;
}

.submenu__link {
  text-decoration: none;
  color: #9096a4;
}

@media (min-width: 48rem) {
  /*style for logo*/
  .logo {
    width: 6.25rem;
    height: 6.25rem;
    line-height: 6.25rem;
    font-size: 2.75rem;
  }

  /*style for menu*/
  .navigation-list {
    font-size: 1.5rem;
  }

  .submenu {
    font-size: 1.0625rem;
  }
}

@media (max-width: 64rem) {
  .navigation-list {
    flex-wrap: wrap;
  }
}

@media (min-width: 64rem) {
  .header {
    padding: 6.375rem 6.25rem;
  }
  /*style for menu*/
  .navigation-list {
    width: 100%;
    font-size: 1.75rem;
    margin: 0;
  }

  .navigation-list__item {
    width: 12%;
    margin-bottom: 0;
  }

  .navigation-list__item:nth-child(3) {
    margin-right: 28%;
  }

  .submenu {
    font-size: 1.25rem;
  }

  .submenu::before {
    width: 1.25rem;
    height: 1.25rem;
  }

  /*style for logo*/
  .logo {
    position: absolute;
    width: 8.625rem;
    height: 8.625rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 8.625rem;
    font-size: 3.75rem;
    margin: 0;
  }
}
