.princeples-list-row > [class*=col-] {
  margin-bottom: 1.5rem;
}

.princeples-list-row > [class*=col-]:last-child {
  margin-bottom: 0;
}

.princeples-article {
  flex-basis: 80%;
  margin-left: 2.2rem;
}

.princeples-article-container::before {
  display: block;
  float: left;
  counter-increment: list;
  content: counter(list);
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  background-color: #38afe5;
  color: #fff;
  text-align: center;
  line-height: 1.7rem;
}

@media (min-width:48rem) and (max-width: 62rem) {
  .princeples-list-row > [class*=col-] {
    margin-bottom: 0;
  }
}
