.top-section {
  margin-bottom: 3rem;
  border-bottom: 1px solid rgba(0,0,0, .2)
}

.top-section > [class*=col-]:first-child {
  margin-bottom: 2rem;
}

.top-section > [class*=col-]:last-child {
  padding-bottom: 2.5rem;
}

.picture {
  margin-bottom: 1rem;
}

.profile-img {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 48rem) {
  .article-body .picture {
    float: left;
    width: 50%;
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

@media (min-width: 62rem) {
  .profile-img {
    margin-right: 1rem;
  }
}
