@font-face {
  font-family: Dorsa;
  src: url(../fonts/Dorsa-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-CondLight.ttf);
}

@font-face {
  font-family: Pathway;
  src: url(../fonts/PathwayGothicOne-Regular.ttf);
}
