.testimonial-caption {
  text-transform: uppercase;
  margin-bottom: 24px;
  font-weight: normal;
  color: #263555;
}

.quote-paragraph {
  background-color: #fcfafa;
  padding: 22px;
  color: #263555;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-indent: 8px;
}

.quote-paragraph::before {
  content: "\201c";
}

.quote-paragraph::after {
  content: "\201d";
}

.testimonial-sub-caption {
  text-align: center;
  color: #263555;
  margin: 36px 0 20px 0;
  font-weight: bold;
}

.mark-post {
  display: block;
  color: #000;
  margin-top: 20px;
  font-weight: normal;
}
