.container-fluid__width {
  max-width: 75rem;
  min-width: 30rem;
}

.grid-item {
  padding: 4rem;
  text-transform: uppercase;
  text-align: center;
}

.grid-item__orange {
  background-color: #F6D49B;
}

.grid-item__pink {
  background-color: #F69CA7;
}
